.registerContainer {
    background: linear-gradient(60deg, #011e37, #00465f);
    padding: 2% 3%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


    /*-------------------- register top ----------------------*/
.registerTop {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.registerTop-image {
    width: 10%;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerTop-image img {
    width: 100%;
    max-width: 200px;
}


    /*-------------------- register body ----------------------*/
.registerBody {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2%;

}

.registerBody-container {
    width: 28%;
    min-width: 350px;
    background: white;
    border-radius: 10px 0 0 10px;
    padding: 2% 2.5%;
}

.registerBody-container h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5%;
    font-weight: 600;
}

.registerBody_item {
    padding-bottom: 15px;
}

.registerBody_item h3 {
    font-weight: normal;
    font-size: 16px;
    padding-bottom: 5px;
}

.registerBody_item input {
    width: 100%;
    padding: 4px 6px;
    border: 1px solid rgb(65, 64, 64);
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.error {
    color: red;
    font-size: 14px;
}

.registerButton {
    width: 100%;
    padding: 10px 0;
}

.register-button {
    width: 100%;
    background: var(--primary-color);
    border-radius: 50px;
    color: white;
    padding: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-button P {
    font-weight: 600;
    margin: 2.5px 0;
}

.registerText span {
    font-weight: bold;
}

.registerImage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 40%;
    position: relative;
    border-radius: 0 10px 10px 0;
}

.registerImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 10px 10px 0;
}

.register-logoImg {
    position: absolute;
    width: fit-content;
    bottom: 15px;
    right: 10px;
    height: fit-content;
    display: flex;
    padding: 10px;
}

.register-logoImg img {
    width: 180px;
    object-fit: contain;
    border: none;
}



    /*------------------------- MEDIA QUERYING --------------------------------*/

@media screen and (max-width: 730px) {
    .registerContainer {
        padding: 10% 3%;
        background: linear-gradient(#026b8e, #0a3a4b);
        display: block;
    }

    .registerTop {
        display: flex;
    }

    .registerTop-image {
        width: 20%;
        min-width: 100px;
    }

    .registerBody {
        padding-top: 10%;
    }

    .registerImage {
        display: none;
    }

    .registerBody-container {
        background: transparent;
        width: 98%;
        min-width: 280px;
    }

    .registerBody-container h2 {
        color: white;
        text-transform: uppercase;
        font-size: 27px;
    }

    .registerItems {
        padding-top: 5%;
    }

    .registerBody_item {
        padding-bottom: 25px;
    }

    .registerBody_item h3 {
        color: white;
        font-size: 17px;
    }

    .registerBody_item input {
        font-size: 16px;
        padding: 6px 7px;
        margin-top: 5px;
    }

    .registerButton button {
        background: var(--button-color);
        padding: 10px;
        font-weight: 500;
        color: black;

            /* highlighting */
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .register-button {
        background: var(--button-color);
        padding: 6.5px;
        font-weight: 500;
        color: black;

            /* highlighting */
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .register-button p {
        margin: 2.9px 0;
    }

    .registerText {
        color: white;
        padding-top: 7px;
    }

    .registerText p span {
        color: rgb(255, 255, 255);
    }
}