.home_container {
    padding: 2% 0 10px;
}

    /*------------------ Home top ----------------------*/
.home_top {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    width: 100%;
    overflow-x: hidden;
    background: var(--whiter-color);
    box-shadow: var(--box-shadow);
}

.homeTop_left {
    flex-basis: 30%;
    padding: 1.5%;
}

.homeLeft-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

.homeLeft-top h2 {
    font-weight: bold;
    font-size: 18px;
}

.top-link {
    color: blue;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.homeLeft-item {
    padding: 5px 0 1px;
    cursor: pointer;
    width: fit-content;
    border-bottom: 1px solid transparent;
}

.homeLeft-item:hover {
    border-bottom: 1px solid gray;
}

.homeTop_right {
    flex-basis: 70%;
    color: black;
    aspect-ratio: 1/0.5;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

    /*--------------------- swiper -----------------------*/

.homeSwiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeSwiper-zeal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--zeal-background);
}

.homeSwiper-zeal img {
    width: 60%;
}

.homeSwiper-image-desc {
    position: absolute;
    top: 30px;
    left: 30px;
    background: var(--swiper-background);
    height: 85%;
    width: 40%;
    padding: 15px 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.homeSwiper-image-desc p {
    font-size: 30px;
    font-weight: 500;
    color: var(--swiper-red);
    line-height: 40px;
}

.swiper-services-desc p {
    color: var(--swiper-blue);
}

.swiper-recycling-desc p {
    color: var(--swiper-green);
}

.homeSwiper-image-desc p span {
    font-size: 40px;
    font-weight: 600;
}

.homeSwiper-image-desc button {
    width: fit-content;
    padding: 8px 15px;
    border-radius: 4px;
    font-size: 15px;
    color: white;
    border: none;
    outline: none;
    background: var(--swiper-red);
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.homeSwiper-image-desc button:hover {
    gap: 20px;
}

.swiper-services-desc button {
    background: var(--swiper-blue);
}

.swiper-recycling-desc button {
    background: var(--swiper-green);
}





    /*-------------------- company services -----------------------*/
.company-services {
    width: 100%;
    overflow-x: hidden;
    padding: 4% 2px;
    display: flex;
    justify-content: space-between;
}

.companyService_Item {
    border-radius: 5px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    background: var(--whiter-color);
    flex-basis: 32%;
}

.companyService_Item h2 {
    padding: 3px 0 15px;
    font-weight: 500;
}

.companyService_desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.companyService-text {
    flex-basis: 68%;
}

.companyService-text ul {
    width: 100%; 
    padding: 0;
    margin: 0;
    list-style: none;
}

.companyService-text ul li {
    list-style: disc;
    margin-bottom: 3px;
    font-size: 15px;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.companyService-text p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
}

.companyService_image {
    flex-basis: 30%;
    display: flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.companyService_image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.service_exploreButton {
    padding: 25px 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_exploreButton button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    padding: 3px 15px;
    color: var(--white-color);
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 3px;
}



    /*-------Not seen in large screen------*/
.medium-screen {
    display: none;
}



    /*------------------------- MEDIA QUERYING -------------------------------*/
@media screen and (max-width: 1028px) {
    .home_top {
        flex-direction: column;
    }

    .homeTop_left {
        display: none;
    }

    .homeLeft-top p:nth-child(2) {
        display: none;
    }

    .home-products-list {
        display: flex;
        justify-content: space-between;
    }

    .homeLeft-Items {
        flex-basis: 48%;
    }

    .medium-screen {
        display: block;
    }

    .homeTop_right {
        aspect-ratio: 1/0.55;
    }
}


@media screen and (max-width: 730px) {
    .home_container {
        padding-top: 8%;
    }

    .home_top {
        border-radius: 8px;
    }

    .homeSwiper-zeal img {
        width: 80%;
    }

    .homeLeft-Items {
        flex-basis: 100%;
    }

    .homeLeft-top p:nth-child(2) {
        margin-right: 0;
        font-size: 13px;
        display: block;
    }

    .homeTop_left {
        padding: 4% 2%;
    }

    .homeTop_right {
        aspect-ratio: 1/1.6;
    }

    .homeSwiper-zeal {
        background: var(--zeal-background-2);
        border: 2px solid #1d275674;
        border-radius: 8px;
    }

    .homeSwiper-image-desc {
        top: 20px;
        left: 20px;
        width: 65%;
        min-height: 55%;
        height: fit-content;
        border-radius: 6px;
        padding: 10px 10px 15px;
    }

    .homeSwiper-image-desc p {
        font-size: 20.5px;
        line-height: normal;
    }

    .homeSwiper-image-desc button {
        padding: 5px 8px 5px 15px;
        margin-top: 50px;
    }

    .company-services {
        flex-direction: column;
        padding-top: 10%;
        gap: 30px;
    }

    .companyService_Item {
        border-radius: 5px;
        padding: 15px 10px;
    }

    .companyService_Item h2 {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .companyService_Item p {
        line-height: 28px;
    }

    .service_exploreButton button {
        padding: 5px 18px;
    }
    



        /*-------Not seen in small screen------*/
    .medium-screen {
        display: none;
    }
}