:root {
    --main-color: #F4F5FA;
    --whiter-color: rgb(251, 251, 251);
    --primary-color: #1D2756;
    --secondary-color: #CFAE30;
    --red-color: #ff0000;
    --white-color: #fff;
    --black-color: #161616;
    --blue-color: #0000ff;
    --green-color: #008000;
    --gray-color: gray;
    --button-color: #268bf6;

    --swiper-background: #e8e8e7ee;
    --swiper-red: #ff2100;
    --swiper-blue: #1F6496;
    --swiper-green: #02af02;

    --box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
}



.layoutContainer {
    width: 100vw;
    overflow-x: hidden;
    background: var(--main-color);
}

.topbar {
    padding: 0 3%;
    background: var(--primary-color);
}

.main-body {
    padding: 0 3%;
}

.footer {
    padding: 0 3%;
    background: var(--black-color);
}




@media screen and (max-width: 730px) {
    .layoutContainer {
        
            /* highlighting */
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .topbar {
        padding: 0 2%;
    }

    .main-body {
        padding: 0 4%; 
    }
}