:root {
    --main-color: #F4F5FA;
    --whiter-color: #fbfbfb;
    --primary-color: #1D2756;
    --secondary-color: #CFAE30;
    --red-color: #ff0000;
    --white-color: #fff;
    --black-color: #161616;
    --blue-color: #0000ff;
    --green-color: #008000;
    --gray-color: gray;
    --button-color: #268bf6;

    --primary-variation: #1d2756a5;
    --swiper-background: #e8e8e7ee;
    --zeal-background: #ffffffb9;
    --zeal-background-2: #ffffff9e;
    --swiper-red: #ff2100;
    --swiper-blue: #1F6496;
    --swiper-green: #02af02;

    --box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
}


.layout-component {
    width: 100vw;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--whiter-color);
}

.layoutContainer {
    width: 100vw;
    max-width: 1440px;
    overflow-x: hidden;
    background: var(--main-color);
}

.topbar {
    padding: 0 3%;
    background: var(--primary-color);
}

.main-body {
    padding: 0 3%;
}

.footer {
    padding: 0 3%;
    background: var(--black-color);
}

.mySwiper1 > .swiper-pagination-bullet {
    background: red;
    opacity: 0.8;
    border: 1px solid red;
    border-radius: 50%;
}

.general-header h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 27px;
    font-weight: 600;
}


@media screen and (max-width: 730px) {
    .layoutContainer {
        
            /* highlighting */
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .topbar {
        padding: 0 2%;
    }

    .main-body {
        padding: 0 4%; 
    }
}