.recycling-container {
    width: 100%;
    padding: 4% 0 5%;
}



    /*------------------------ recycling top ------------------------*/
.recycling-top {
    display: flex;
    justify-content: space-between;
    padding: 0 4% 9%;
}

.recycling-top-left {
    flex-basis: 48%;
}

.recycling-top-left h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.recycling-top-left p {
    margin: 20px 0;
}

.recycling-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 6%;
    padding-top: 10px;
}

.recycling-buttons button {
    padding: 10px 20px;
    width: 48%;
    border: none;
    font-weight: 500;
    outline: none;
    background: var(--green-color);
    color: var(--white-color);
    cursor: pointer;
}

.recycling-buttons button:nth-child(2) {
    background: var(--blue-color);
}

.recycling-top-right {
    flex-basis: 38%;
}

.recycling-image {
    width: 100%;
}

.recycling-image img {
    width: 100%;
    object-fit: cover;
}



    /*------------------------ recycling statistics ------------------------*/
.recycling-stats {
    padding: 3% 0 4%;
    background: rgb(219, 217, 217);
    border-radius: 7px;

    -webkit-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
}

.recycling-stats h1 {
    text-align: center;
    font-weight: 600;
}

.recycling-statistics-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5%;
}

.recycling-stats-left {
    flex-basis: 48%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.recycling-stats-item {
    display: flex;
    align-items: center;
    width: 68%;
    justify-content: space-between;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 2.2% 0;
    position: relative;
}

.recycling-stats-item:first-child {
    padding-top: 0 0 2.2%;
}

.recycling-stats-item::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -40px;
    background: #23BEC1;
}

.recycling-stats-item:nth-child(2)::before {
    background: #4D6DB5;
}

.recycling-stats-item:nth-child(3)::before {
    background: #5B2D8B;
}

.recycling-stats-item:nth-child(4)::before {
    background: #813E98;
}

.recycling-stats-item:nth-child(5)::before {
    background: #ff1616;
}

.recycling-stats-item:nth-child(6)::before {
    background: #ffd500;
}

.recycling-stats-item p {
    font-size: 19px;
    font-weight: 500;
}

.recycling-stats-item p span {
    font-weight: normal;
}

.recycling-stats-right {
    flex-basis: 48%;
}

.recycling-stats-right img {
    width: 60%;
    object-fit: cover;
}




    /*------------------------ recycling collection ------------------------*/
.recycling-collection {
    display: flex;
    justify-content: space-between;
    padding: 10% 4% 3%;
}

.recycling-collection-left {
    flex-basis: 38%;
}

.recycling-collection-image {
    width: 100%;
}

.recycling-collection-image img {
    width: 100%;
    object-fit: cover;
    border: 1px solid rgb(174, 174, 174);
}

.recycling-collection-right {
    flex-basis: 48%;
}

.recycling-collection-right h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: capitalize;
    line-height: 54px;
}




    /*--------------- Not seen in Large screen----------------*/
.recycling-collection-right h2:nth-child(2) {
    display: none;
}



    /*------------------------- MEDIA QUERYING -------------------------------*/

@media screen and (max-width: 1028px) {
    .recycling-top {
        flex-direction: column-reverse;
        padding: 0 0 9%;
        gap: 30px;
    }

    .recycling-image img {
        aspect-ratio: 1/0.4;
        object-fit: cover;
    }

    .recycling-stats-item {
        width: 92%;
    }

    .recycling-stats-item::before {
        left: -30px;
    }

    .recycling-stats-left {
        flex-basis: 57%;
        padding-left: 4%;
    }

    .recycling-stats-right {
        flex-basis: 40%;
        padding-right: 2%;
    }

    .recycling-stats-right img {
        width: 100%;
    }

    .recycling-collection {
        flex-direction: column-reverse;
        gap: 30px;
        padding: 10% 0 3%;
    }

    .recycling-collection-image img {
        aspect-ratio: 1/0.5;
        object-fit: cover;
    }


    .recycling-collection-right h2:nth-child(1) {
        display: none;
    }

    .recycling-collection-right h2:nth-child(2) {
        display: block;
    }
}


@media screen and (max-width: 730px) {
    .recycling-container {
        padding-top: 15%;
    }

    .recycling-top {
        margin-bottom: 10%;
    }

    .recycling-top-left h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 30px;
        text-align: center;
    }

    .recycling-top-left p {
        text-align: justify;
    }

    .recycling-buttons {
        flex-direction: column;
        gap: 15px;
        padding-top: 10px;
    }

    .recycling-buttons button {
        width: 100%;
        padding: 12px;
        border-radius: 50px;
        font-size: 16px;
    }

    .recycling-image img {
        aspect-ratio: 1/1.1;
        border-radius: 6px;
        max-height: 450px;
        
        -webkit-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    }

        /*------------------- recycling statistics -----------------------*/ 
    .recycling-stats {
        padding: 30px 0 0;
    }       

    .recycling-stats h1 {
        font-size: 25px;
        font-weight: 500;
        margin-bottom: 25px;
    }

    .recycling-statistics-container {
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding-top: 5px;
    }

    .recycling-stats-left {
        flex-basis: 100%;
        padding-right: 3%;
        width: 100%;
    }

    .recycling-stats-item {
        padding: 12px 0;
    }
    
    .recycling-stats-item p {
        font-size: 16px;
    }
     
    .recycling-stats-item p span {
        font-size: 14px;
    }

    .recycling-stats-item::before {
        width: 15px;
        height: 15px;
        left: -25px;
    }

    .recycling-stats-right {
        padding: 7%;
    }


        /*------------------------ recycling collection ------------------------*/
    .recycling-collection {
        padding-top: 50px;
    }

    .recycling-collection-right h2 {
        font-size: 33px;
        line-height: normal;
        margin-bottom: 30px;
        text-align: center;
    }

    .recycling-collection-right h2:nth-child(2) {
        display: none;
    }

    .recycling-collection-right h2:nth-child(1) {
        display: block;
    }    

    .recycling-collection-right p {
        text-align: justify;
    }

    .recycling-collection-image img {
        border-radius: 7px;
        aspect-ratio: 1/1.1;
        
        -webkit-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
        box-shadow: 0.5px 0.5px 5px 0px rgba(0,0,0,0.5);
    }
}